/* 수정하지 마세요 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

header {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd; 
    padding: 1rem 2rem;
    box-sizing: border-box;
    height: 80px;
    z-index: 1000;
}

main {
    margin-top: 80px;
    margin-bottom: 10vh;
}

a {
    text-decoration: none;
    color: #727272;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.logo a {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #fcb900; 
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.nav-content, .nav-user {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start; 
}

.nav-user {
    margin-left: auto;
}

.nav-content a, .nav-user a { 
    font-weight: bold; 
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.nav-content li, .nav-user li {
    display: inline-block;
}

.nav-content a:hover, .nav-user a:hover, .menu a:hover{
    color: #fcb900;
}

.nav-content a:active, .nav-user a:active, .menu a:active {
    color: #000000;
}

.nav-content a:focus, .nav-user a:focus, .menu a:focus {
    color: #000000;
}

