
main {
    margin-top: 100px;
}

.menu {
    color: #727272;
    font-weight: bold; 
    margin-top: 30px;  
    margin-left: 50px; 

}

.menu-link {
    padding: 0.5rem 1rem;
}

.ott-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.ott-rec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 140px;
    padding: 1.5rem;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #bcbcbc;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ott-rec img {
    width: 35%; 
    height: auto;
}

.ott-rec input[type="button"] {
    background-color: #d9d9d9;
    color: #000000;
    margin-right: 2vw;
    width: 13%;
    height: 30%;
    font-size: 1.1rem;
    font-weight: bold;
    border: none; 
    border-radius: 15px; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.ott-rec input[type="button"]:hover {
    background-color: #ffdd75; 
}

.ott-rec-div {
    margin-left: 3vw;

}

