.ott-container {
    display: flex;
    align-items: center;
    margin: 0px 8vw;
    margin-top: 8vh;
    flex-direction: column;
}

.content-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    gap: 50px;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: #fcb90057 transparent;  /* Scrollbar 색상 (트랙: 투명, 스크롤바: #fcb900) */
    white-space: nowrap;
}

.content-container::-webkit-scrollbar {
    height: 5px;  /* 스크롤바 높이 조정 (짧게) */
}

.content-container::-webkit-scrollbar-thumb {
    background-color: #fcb900;  /* 스크롤바 색상 */
    border-radius: 10px;  /* 스크롤바 모서리 둥글게 */
}

.content-container::-webkit-scrollbar-track {
    background: transparent;  /* 스크롤바 트랙 색상 투명 */
}

.content-item {
    width: 200px;
    text-align: center;
    flex: 0 0 auto;
    position: relative;
}

.content-item img {
    width: 200px;
    height: 280px;
}

.number-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

h1 {
    text-align: left;
    width: 100%;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 4vh;
}

.content-title {
    text-align: left;
    word-wrap: break-word;
}