.ott-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 4rem;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.content-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    gap: 40px;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: #fcb90057 transparent;  /* Scrollbar 색상 (트랙: 투명, 스크롤바: #fcb900) */
    white-space: nowrap;
    padding: 1rem 0;
}

.content-container::-webkit-scrollbar {
    height: 6px;  /* 스크롤바 높이 조정 */
}

.content-container::-webkit-scrollbar-thumb {
    background-color: #fcb900;  /* 스크롤바 색상 */
    border-radius: 10px;  /* 스크롤바 모서리 둥글게 */
    border: 2px solid transparent;
    background-clip: padding-box;
}

.content-container::-webkit-scrollbar-track {
    background: #e0e0e0;  /* 스크롤바 트랙 색상 */
    border-radius: 10px;
}

.content-item {
    width: 220px;
    text-align: center;
    flex: 0 0 auto;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.content-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.content-item img {
    width: 220px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.number-overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: left;
    width: 100%;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 4vh;
    color: #333;
    border-bottom: 2px solid #fcb900;
    padding-bottom: 10px;
}

.content-title {
    text-align: left;
    word-wrap: break-word;
    font-size: 1.2rem;
    color: #555;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .ott-container {
        margin: 0 4vw;
        padding: 1rem;
    }

    .content-item {
        width: 180px;
    }

    .content-item img {
        width: 180px;
        height: 250px;
    }

    h1 {
        font-size: 2.5rem;
    }
} 

@media (max-width: 480px) {
    .content-container {
        gap: 20px;
    }

    .content-item {
        width: 150px;
    }

    .content-item img {
        width: 150px;
        height: 210px;
    }

    h1 {
        font-size: 2rem;
    }
} 
